body{
	background: #DCDCDC;
}
div{
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	
}
.header{
	background: white;
	text-align: left;
	width: 550px;
	padding: 0.1rem;
}

.primerafoto{
	width: 550px;
	height: 650px;
	font-size: 20px;
	margin-top: 50px;
	
	
}
.titulo1{
	float: left;
	font-size: 20px;
	margin: 10px  10px;
	padding: 1px;
}

.numero1 p{
	float: right;
	color: #D3D3D3;
	margin: 30px  10px;
	padding: 1px;
}
.imagen1 img{
	width: 550px;
	height: auto;
	padding-top: 10px;
}
.piedefoto1{
	font-size: 20px;
	margin: 15px  15px;
	padding: 2px;
}

.segundafoto{
	width: 550px;
	height: 550px;
	font-size: 20px;
	margin-top: 50px;
}
.titulo2{
	float: left;
	font-size: 20px;
	margin: 10px  10px;
	padding: 1px;
}
.imagen2 img{
	width: 550px;
	height: auto;
}
.numero2 p{
	float: right;
	color: #D3D3D3;
	margin: 30px  10px;
	padding: 1px;
}
.piedefoto2{
	font-size: 20px;
	margin: 15px  15px;
	padding: 2px;
}
.tercerafoto{
	width: 550px;
	height: 580px;
	font-size: 20px;
	margin-top: 50px;
	
}
.titulo3{
	float: left;
	font-size: 20px;
	margin: 10px  10px;
	padding: 1px;
}
.numero3{
	float: right;
	color: #D3D3D3;
	margin: 10px  10px;
	padding: 1px;
}

.imagen3 img{
	width: 550px;
	height: auto;
}
.piedefoto3{
	font-size: 20px;
	margin: 15px  15px;
	padding: 2px;
}